.container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.container::before {
  background: url(./sources/2.jpg);
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  animation: moving 30s linear infinite;
}

@keyframes moving {

  0%,
  100% {
    transform: scale(1);
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
  }

  33% {
    transform: scale(1.5);
    background: url(./sources/4.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
  }

  66% {
    transform: scale(1.8);
    background: url(./sources/5.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
  }
}


